<div id="hero-skin-section" class="guide-section">									<!-- Hero Info Section of Guide -->

	<div class="section-header">
		<h2>Monkey Emperor Skin</h2>
	</div>

	<div class="section-body">

		<div class="hero-art">
			<div class="hero-portrait">
				<img src="/assets/images/hero-cards-skins/kong-monkey-emperor.jpg" width="150" height="300" />
			</div>

			<div class="hero-card">
				<img src="/assets/images/hero-cards-skins/kong-monkey-emperor.jpg" width="300" height="600" />
			</div>
		</div>

		<div class="hero-details">
			<div class="hero-role">
				<h4>Hero Skin Details</h4>
				<p><b>Hero Skin:</b> This skin unlocks a unique Hero portrait for your in-game Avatar.</p>
			</div>

			<div class="skin-portrait">
				<img src="/assets/images/icons/portraits-skins/kong-skin.png" width="100" height="100" />

			</div>

			<div class="ability-box">
				<h4>No Special Ability</h4>

				
			</div>

		</div>
	
	</div>

</div>