<div id="hero-skin-section" class="guide-section">									<!-- Hero Info Section of Guide -->

	<div class="section-header">
		<h2>Crystal Warrior Skin</h2>
	</div>

	<div class="section-body">

		<div class="hero-art">
			<div class="hero-portrait">
				<img src="../../assets/images/hero-cards-skins/salus-crystal-warrior.jpg" width="150" height="300" />
			</div>

			<div class="hero-card">
				<img src="../../assets/images/hero-cards-skins/salus-crystal-warrior.jpg" width="300" height="600" />
			</div>
		</div>

		<div class="hero-details">
			<div class="hero-role">
				<h4>Hero Skin Details</h4>
				<p><b>Ability Skin:</b> This skin unlocks a unique Hero portrait for your in-game Avatar and also an additional ability while equipped.</p>
			</div>

			<div class="skin-portrait">
				<img src="../../assets/images/icons/portraits-skins/salus-skin.png" width="100" height="100" />

			</div>

			<div class="ability-box">
				<h4>Pulse Hammer - Unlocks with <span class="red-txt">Crystal Warrior Skin</span></h4>

				<div class="ability-details">
					<div class="ability-icon">
						<img src="../../assets/images/icons/abilities/salus-skin-ability.png" />
					</div>

					<div class="ability-text">
						<h4>Ability Description</h4>
						<p>The "Storm Hammer" Ability is replaced with "Pulse Hammer". It will Attack enemies with Physical Armor first. Enemies will be Stunned regardless of their Physical Armor and their Physical Armor will be reduced 50%. Each time you level up the "Storm Hammer" Ability, the maximum eliminated Physical Armor is increased by 130 </p>
					</div>

					<div class="ability-text">
						<h4>Ability Info</h4>
						<p>Ability only available while Crystal Warrior Skin is equipped</p>
					</div>

				</div>
			</div>


		</div>
	
	</div>

</div>