<div id="awakening" class="guide-section">				<!-- Awakening Section -->
	
	<div class="section-header">
		<h2>Awakening Quest</h2>
	</div>

	<div class="section-body">
		
		<div class="hero-art">										<!-- Portrait for mobile/tablet(vertical) and full card for tablet(landscape)/desktop -->
			<div class="hero-portrait">
				<img src="/assets/images/icons/portraits-aw/aqua-aw.png" /><br>
				<p>"More powerful than a rushing river!"</p>
			</div>

			<div class="hero-card">
				<img src="/assets/images/hero-cards-aw/aqua-aw.jpg" width="300" height="600" /><br>
				<p>"More powerful than a rushing river!"</p>
			</div>
		</div>

		<div class="quest-details">
			
			<div class="icon-column">								<!-- Chapter and Dojo icons -->

				<div id="quest-icon1" class="item-icon">
					<img src="/assets/images/icons/chapter-icons/campaign/14-powerful-knowledge.png" width="86" height="86" />			
				</div>

				<div id="quest-icon2" class="item-icon">
					<img src="/assets/images/icons/chapter-icons/dojo/cursed-city.png" width="86" height="86" />
				</div>

				<div id="quest-icon3" class="item-icon">
					<img src="/assets/images/icons/chapter-icons/campaign/13-curl-of-smoke.png" width="86" height="86" />
				</div>

			</div>

			<div class="aw-quests">									<!-- Quest textboxes and Sig Item recipe -->
				
				<div id="aw-quest1" class="textbox">
						<h4>1st Quest - Craft Signature Item: Rune of the Abyss</h4> 
						<p>Collect 80 fragments of Abyssal Salve from<br>Chapter 14 - Powerful Knowledge (Heroic Difficulty)</p>
				</div>

				<div class="sig-item-recipe">
					<div id="aw-item1" class="item-icon">
						<img src="/assets/images/icons/signature-items/quest1/abyssal-salve.png" />		<!-- Signature Ingredient -->
						<p>Abyssal Salve</p>
					</div>

					<div id="aw-item2" class="item-icon">
						<img src="/assets/images/icons/equipment/blade-of-chaos.png" />			<!-- Item Ingredient 1 -->
						<p>Blade of Chaos</p>
					</div>

					<div id="aw-item3" class="item-icon">
						<img src="/assets/images/icons/equipment/titanic-axe.png" />		<!-- Item Ingredient 2 -->
						<p>Titanic Axe</p>
					</div>

					<div id="aw-item4" class="item-icon">
						<img src="/assets/images/icons/equipment/whisperwind-bow.png" />				<!-- Item Ingredient 3 -->
						<p>Whisperwind Bow</p>
					</div>
				</div>

				<div id="aw-quest2" class="textbox">
					<h4>2nd Quest - Cursed City</h4>
					<p>Complete 10 times with Aqua in your party<br>(Extreme+ Difficulty)</p>
				</div>

				<div id="aw-quest3" class="textbox">
					<h4>3rd Quest - Chapter 13 - Curl of Smoke</h4>
					<p>Complete the stage with Aqua in your party<br><b>Requirement:</b> Aqua must kill Baltor (Heroic Difficulty)</p>
				</div>

			</div>
		
		</div>

		<div class="sig-item-stats">								<!-- Sig Item Stats and Forge Bonuses -->
			
			<div id="sig-item" class="item-icon">
				<img src="/assets/images/icons/signature-items/signature/rune-of-the-abyss.png" />		<!-- Signature Item -->
				<p>Rune of the Abyss</p>
			</div>

			<div class="stat-tables">

				<div class="statbox">
					<table>
						<tr>
							<th colspan= 3>Item Stats + Max Enchant</th>					<!-- Item stats -->
						</tr>
						<tr>
							<td>Max Health</td>												<!-- Stat line 1 -->
							<td>700</td>
							<td><span class="grn-txt">+630</span></td>
						</tr>
						<tr>
							<td>Physical Attack</td>										<!-- Stat line 2 -->
							<td>190</td>
							<td><span class="grn-txt">+168</span></td>
						</tr>
						<tr>
							<td>Physical Crit</td>											<!-- Stat line 3 -->
							<td>60</td>
							<td><span class="grn-txt">+56</span></td>
						</tr>
						<tr>
							<td>Physical Pierce</td>											<!-- Stat line 4 -->
				   			<td>60</td>
				   			<td><span class="grn-txt">+56</span></td>
				   		</tr>
					</table>
				</div>

				<div class="statbox">														<!-- Forge Bonuses -->
					<table>
						<tr>	
						<th colspan= 4>Forge Bonus Stats</th>
						</tr>
						<tr>
							<td>P. Attack</td>
							<td>≥ 40</td>
							<td>P. Pierce</td>
							<td><span class="grn-txt">+30</span></td>
						</tr>
						<tr>
							<td>P. Armor</td>
							<td>≥ 100</td>
							<td>P. Attack</td>
							<td><span class="grn-txt">+70</span></td>
						</tr>
						<tr>
							<td>M. Armor</td>
							<td>≥ 200</td>
							<td>Max Health</td>
							<td><span class="grn-txt">+2000</span></td>
						</tr>
					</table>
				</div>

			</div>
		
		</div>
	
	</div>

</div>