<div id="awakening" class="guide-section">				<!-- Awakening Section -->
	
	<div class="section-header">
		<h2>Awakening Quest</h2>
	</div>

	<div class="section-body">
		
		<div class="hero-art">										<!-- Portrait for mobile/tablet(vertical) and full card for tablet(landscape)/desktop -->
			<div class="hero-portrait">
				<img src="../../assets/images/icons/portraits-aw/cyana-aw.png" /><br>
				<p>"I'll give them a taste of my poison!"</p>
			</div>

			<div class="hero-card">
				<img src="../../assets/images/hero-cards-aw/cyana-aw.jpg" width="300" height="600" /><br>
				<p>"I'll give them a taste of my poison!"</p>
			</div>
		</div>

		<div class="quest-details">
			
			<div class="icon-column">								<!-- Chapter and Dojo icons -->

				<div id="quest-icon1" class="item-icon">
					<img src="../../assets/images/icons/chapter-icons/campaign/14-empty-handed.png" width="86" height="86" />			
				</div>

				<div id="quest-icon2" class="item-icon">
					<img src="../../assets/images/icons/chapter-icons/dojo/dwarven-forge.png" width="86" height="86" />
				</div>

				<div id="quest-icon3" class="item-icon">
					<img src="../../assets/images/icons/chapter-icons/campaign/14-predator-and-prey.png" width="86" height="86" />
				</div>

			</div>

			<div class="aw-quests">									<!-- Quest textboxes and Sig Item recipe -->
				
				<div id="aw-quest1" class="textbox">
						<h4>1st Quest - Craft Signature Item: Tentacle Shawl</h4> 
						<p>Collect 80 fragments of Poison Slime from<br>Chapter 14 - Empty Handed (Heroic Difficulty)</p>
				</div>

				<div class="sig-item-recipe">
					<div id="aw-item1" class="item-icon">
						<img src="../../assets/images/icons/signature-items/quest1/poison-slime.png" />		<!-- Signature Ingredient -->
						<p>Poison Slime</p>
					</div>

					<div id="aw-item2" class="item-icon">
						<img src="../../assets/images/icons/equipment/healing-stone.png" />			<!-- Item Ingredient 1 -->
						<p>Healing Stone</p>
					</div>

					<div id="aw-item3" class="item-icon">
						<img src="../../assets/images/icons/equipment/helmet-of-darkness.png" />		<!-- Item Ingredient 2 -->
						<p>Helmet of Darkness</p>
					</div>

					<div id="aw-item4" class="item-icon">
						<img src="../../assets/images/icons/equipment/ethereal-cloak.png" />				<!-- Item Ingredient 3 -->
						<p>Ethereal Cloak</p>
					</div>
				</div>

				<div id="aw-quest2" class="textbox">
					<h4>2nd Quest - Dwarven Forge</h4>
					<p>Complete 6 times with Cyana in your party<br>(Extreme+ Difficulty)</p>
				</div>

				<div id="aw-quest3" class="textbox">
					<h4>3rd Quest - Chapter 14 - Predator and Prey</h4>
					<p>Complete the stage with Cyana in your party<br><b>Requirement:</b> All heroes must survive (Heroic Difficulty)</p>
				</div>

			</div>
		
		</div>

		<div class="sig-item-stats">								<!-- Sig Item Stats and Forge Bonuses -->
			
			<div id="sig-item" class="item-icon">
				<img src="../../assets/images/icons/signature-items/signature/tentacle-shawl.png" />		<!-- Signature Item -->
				<p>Tentacle Shawl</p>
			</div>

			<div class="stat-tables">

				<div class="statbox">
					<table>
						<tr>
							<th colspan= 3>Item Stats + Max Enchant</th>					<!-- Item stats -->
						</tr>
						<tr>
							<td>Max Health</td>												<!-- Stat line 1 -->
							<td>1800</td>
							<td><span style="color: green">+1617</span></td>
						</tr>
						<tr>
							<td>Magic Attack</td>										<!-- Stat line 2 -->
							<td>100</td>
							<td><span style="color: green">+91</span></td>
						</tr>
						<tr>
							<td>Physical Armor</td>											<!-- Stat line 3 -->
							<td>60</td>
							<td><span style="color: green">+56</span></td>
						</tr>
						<tr>
							<td>Magic Armor</td>											<!-- Stat line 4 -->
				   			<td>60</td>
				   			<td><span style="color: green">+56</span></td>
				   		</tr>
				   		<tr>
							<td>Dodge Rating</td>											<!-- Stat line 5 -->
				   			<td>20</td>
				   			<td><span style="color: green">+21</span></td>
				   		</tr>
					</table>
				</div>

				<div class="statbox">														<!-- Forge Bonuses -->
					<table>
						<tr>	
						<th colspan= 4>Forge Bonus Stats</th>
						</tr>
						<tr>
							<td>M. Attack</td>
							<td>≥ 40</td>
							<td>M. Armor</td>
							<td><span style="color: green">+30</span></td>
						</tr>
						<tr>
							<td>P. Armor</td>
							<td>≥ 100</td>
							<td>Max Health</td>
							<td><span style="color: green">+900</span></td>
						</tr>
						<tr>
							<td>M. Armor</td>
							<td>≥ 200</td>
							<td>M. Attack</td>
							<td><span style="color: green">+150</span></td>
						</tr>
					</table>
				</div>

			</div>
		
		</div>
	
	</div>

</div>