<img src="/images/icons/equipment/angelic-fan.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 60 <span style="color: forestgreen;">+40</span><br>Magic Crit Rating 120 <span style="color: forestgreen;">+75</span><br>Magic Pierce Rating 70 <span style="color: forestgreen;">+45</span><br>Silence Resistance 5% <span style="color: forestgreen;">+5%</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/scepter-of-truth.png" width="36" height="36" /><img src="/images/icons/equipment/torch-of-destruction.png" width="36" height="36" /><img src="/images/icons/equipment/shuriken.png" width="36" height="36" /><br><br><p>Level 91 Required</p>
	</div>