<img src="/images/icons/equipment/atlantean-battleaxe.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 100 <span style="color: forestgreen;">+65</span><br>Physical Crit Rating 50 <span style="color: forestgreen;">+30</span><br>Physical Pierce Rating 100 <span style="color: forestgreen;">+65</span><br>Control Time Reduction 5 <span style="color: forestgreen;">+5</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/bandit's-dagger.png" width="36" height="36" /><img src="/images/icons/equipment/ironbark-warbow.png" width="36" height="36" /><img src="/images/icons/equipment/blade-of-chaos.png" width="36" height="36"/><br><br><p>Level 91 Required</p>
	</div>