<img src="/images/icons/equipment/beastly-guardian.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 2000 <span style="color: forestgreen;">+1285</span><br>Physical Armor 60 <span style="color: forestgreen;">+40</span><br>Magic Armor 60 <span style="color: forestgreen;">+40</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/commander's-blade.png" width="36" height="36" /><img src="/images/icons/equipment/staff-of-illumination.png" width="36" height="36" /><img src="/images/icons/equipment/ethereal-cloak.png" width="36" height="36"/><br><br><p>Level 92 Required</p>
	</div>