<img src="../../assets/images/icons/equipment/blade-of-cataclysm.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 100 <span style="color: forestgreen;">+75</span><br>Physical Crit Rating 40 <span style="color: forestgreen;">+30</span><br>Physical Pierce Rating 100 <span style="color: forestgreen;">+75</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/spartan-dagger.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/adamantite-scimitar.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/amulet-of-dexterity.png" width="36" height="36" /><br><br><p>Level 87 Required</p>
	</div>