<img src="../../assets/images/icons/equipment/blade-of-illusion.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 140 <span style="color: forestgreen;">+90</span><br>Physical Pierce Rating 80 <span style="color: forestgreen;">+50</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/blade-of-illusion-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 95 Required</p>
	</div>