<img src="../../assets/images/icons/equipment/blade-of-time.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 60 <span class="grn-txt">+45</span><br>Physical Crit Rating 160 <span class="grn-txt">+120</span><br>Lifesteal 20 <span class="grn-txt">+15</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/ironbark-warbow.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/carnage-mallet.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/berserker's-claymore.png" width="36" height="36"/><br><br><p>Level 86 Required</p>
	</div>