<img src="../../assets/images/icons/equipment/ethereal-cloak.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1000 <span class="grn-txt">+760</span><br>Physical Armor 25 <span class="grn-txt">+20</span><br>Magic Armor 130 <span class="grn-txt">+100</span><br>Dodge Rating 20 <span class="grn-txt">+15</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/ethereal-cloak-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 86 Required</p>
	</div>