<img src="/images/icons/equipment/fire-hardened-steel.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 120 <span style="color: forestgreen;">+90</span><br>Magic Armor 120 <span style="color: forestgreen;">+90</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/doomsday-armor.png" width="36" height="36" /><img src="/images/icons/equipment/runic-crystal-ball.png" width="36" height="36" /><img src="/images/icons/equipment/destruction.png" width="36" height="36" /><br><br><p>Level 88 Required</p>
	</div>