<img src="/images/icons/equipment/helira's-mask.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 125 <span style="color: forestgreen;">+80</span><br>Physical Armor 70 <span style="color: forestgreen;">+45</span><br>Physical Hit Bonus 60 <span style="color: forestgreen;">+40</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/kretonian-talisman.png" width="36" height="36" /><img src="/images/icons/equipment/mystic-dragonscale.png" width="36" height="36" /><img src="/images/icons/equipment/blade-of-chaos.png" width="36" height="36" /><br><br><p>Level 91 Required</p>
	</div>