<img src="/images/icons/equipment/jupiter's-hammer.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Armor 110 <span style="color: forestgreen;">+70</span><br>Physical Crit Rating 110 <span style="color: forestgreen;">+70</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/jupiter's-hammer-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 96 Required</p>
	</div>