<img src="/assets/images/icons/equipment/lost-epic.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 130 <span class="grn-txt">+85</span><br>Magic Pierce Rating 95 <span class="grn-txt">+60</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/lost-epic-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 95 Required</p>
	</div>