<img src="/images/icons/equipment/mystic-dragonscale.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1200 <span style="color: forestgreen;">+915</span><br>Physical Attack 60 <span style="color: forestgreen;">+45</span><br>Physical Armor 60 <span style="color: forestgreen;">+45</span><br>Magic Armor 40 <span style="color: forestgreen;">+30</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/mystic-dragonscale-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 87 Required</p>
	</div>