<img src="/images/icons/equipment/poseidon's-trident.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 50 <span style="color: forestgreen;">+40</span><br>Physical Crit Rating 50 <span style="color: forestgreen;">+40</span><br>Physical Hit Bonus 100 <span style="color: forestgreen;">+75</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/spartan-dagger.png" width="36" height="36" /><img src="/images/icons/equipment/ancient-royal-sword.png" width="36" height="36" /><br><br><p>Level 83 Required</p>
	</div>