<img src="/images/icons/equipment/priestly-scepter.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1400 <span style="color: forestgreen;">+900</span><br>Magic Attack 120 <span style="color: forestgreen;">+75</span><br>Magic Pierce Rating 80 <span style="color: forestgreen;">+50</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/staff-of-illumination.png" width="36" height="36" /><img src="/images/icons/equipment/scepter-of-truth.png" width="36" height="36" /><img src="/images/icons/equipment/torch-of-destruction.png" width="36" height="36" /><br><br><p>Level 93 Required</p>
	</div>