<img src="/images/icons/equipment/staff-of-illumination.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1200 <span style="color: forestgreen;">+770</span><br>Magic Attack 100 <span style="color: forestgreen;">+65</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/staff-of-illumination-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 90 Required</p>
	</div>