<img src="/images/icons/equipment/stormrider-armor.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 2400 <span style="color: forestgreen;">+1545</span><br>Physical Armor 55 <span style="color: forestgreen;">+35</span><br>Energy Efficiency 5% <span style="color: forestgreen;">+5%</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/stormrider-armor-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 96 Required</p>
	</div>