<img src="/images/icons/equipment/transforming-mask.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 2100 <span style="color: forestgreen;">+1350</span><br>Magic Attack 70 <span style="color: forestgreen;">+45</span><br>Magic Armor 65 <span style="color: forestgreen;">+40</span><br>Silence Resistance 10% <span style="color: forestgreen;">+5%</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/staff-of-illumination.png" width="36" height="36" /><img src="/images/icons/equipment/primordial-stone.png" width="36" height="36" /><img src="/images/icons/equipment/ethereal-cloak.png" width="36" height="36" /><br><br><p>Level 94 Required</p>
	</div>