<img src="/images/icons/equipment/zealot-battleplate.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1600 <span style="color: forestgreen;">+1455</span><br>Physical Armor 65 <span style="color: forestgreen;">+60</span><br>Magic Armor 20 <span style="color: forestgreen;">+15</span><br>Health Recovery 600 <span style="color: forestgreen;">+545</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/healing-stone.png" width="36" height="36" /><img src="/images/icons/equipment/sapphire-bracelet.png" width="36" height="36" /><br><br><p>Level 83 Required</p>
	</div>