//FlexBox Mixin
.flexBox(@flow, @justify, @align) {
    display: flex;
    flex-flow: @flow;
    justify-content: @justify;
    align-content: @align;
}

//Mixin Hero card Styles
.card (@width, @margin, @corner){
    position: relative;
    width: @width;
    margin: @margin;
    border-radius: @corner;

    img {
        border-radius: @corner;
    }
    
    .card-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: @brown;
        color: @white;
        border-radius: 0 0 @corner @corner;
        padding: 1%;
        text-align: center;
    }

    .cardback-title {
        bottom: 1rem;
        background: transparent;
    }
}

/* Custom Button */
.custom-btn(@width) {
    width: @width;
    border: 2px solid;
    border-radius: 7px;
    padding: 1% 2%;
    color: @white;
    font-size: 1.6rem;


    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

/* Nav Links Animation */
.link-animation(@color, @speed) {
    position: relative;
 
     &::after { 
         content: ""; 
         display: block;  
         width: 0;
         height: 0.2rem;
         position: absolute;
         left: 50%;
         bottom: -0.6rem;
         background: @color;
         transition: width @speed ease 0s, left @speed ease 0s;
     }
 
     &:hover {
         &::after {
             width: 100%; 
             left: 0; 
         }
     }
 }