/********************** Navigation Styles ************************/
.navbar {
    

    .menubar {
        width: 100%;
        height: 3.2rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: linear-gradient(to right, @orange, @red-orange);
        color: @white;
    }

    .mobile-menu-btn {
        .flexBox(column nowrap, space-evenly, initial);
        width: 3rem;
        height: 3rem;
        margin: 0 0 0 2%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        &:hover {
            cursor: pointer;
        }

        .menu-bar {
            width: 100%;
            background: @white;
            height: 0.5rem;
            transition: all 0.5s ease;
        }
    }

    #bookmarks-btn.mobile-menu-btn {
        right: 6rem;
        left: initial;
        margin: 0 2% 0 0;

        img:nth-child(1) {
            position: absolute;
            transition: all 0.5s ease;
        }

        img:nth-child(2) {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }

    #settings-btn.mobile-menu-btn {
        right: 0;
        left: initial;
        margin: 0 2% 0 0;

        img:nth-child(1) {
            position: absolute;
            transition: all 0.5s ease;
        }

        img:nth-child(2) {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }

    #bar-one.change {
        width: 85%;
        border-radius: 7px;
        transform: rotate(-45deg) translate(-5px, 9px);
    }
    
    #bar-two.change {
        opacity: 0;
    }

    #bar-three.change {
        width: 85%;
        border-radius: 7px;
        transform: rotate(45deg) translate(-3px, -8px);
    }

    .nav-links {
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 66%;
        position: fixed;
        bottom: 100%;
        left: 0;
        z-index: 5;
        padding: 10% 3% 3% 3%;
        border-radius: 7px 0;
        background: @black;
        opacity: 0.9;
        transition: all 0.5s ease;

        li {
            width: 80%;
            margin: 5% auto;
        }

        a {
            color: @white;
        }

        .nav-dropdown{
            color: @white;
           
            &:hover{

                p{
                    &::after {
                        width: 100%;
                    }
                }

                .down-arrow {
                    opacity: 0;
                }

                .sub-links {
                    height: 15rem;
                }
            }

            p {
                position: relative;

                &::after {
                    content: ""; 
                    display: block;  
                    width: 0;
                    height: 0.2rem;
                    position: absolute;
                    left: 0;
                    bottom: -0.6rem;
                    background: @white;
                    transition: width 0.5s ease 0s;
                }
            }

            .down-arrow {
                font-weight: bold;
                transition: all 0.5s ease;
            }
        }

        .sub-links {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease;
        }
    }

    .nav-links.change {
        transform: translate(0, 100%);
    }

    #bookmarks-btn.mobile-menu-btn.change {

        img:nth-child(1) {
            opacity: 0;
        }

        img:nth-child(2) {
            opacity: 1;
        }
    }

    #settings-btn.mobile-menu-btn.change {

        img:nth-child(1) {
            opacity: 0;
        }

        img:nth-child(2) {
            opacity: 1;
        }
    }

    aside {
        width: 66%;
        position: fixed;
        bottom: 100%;
        right: 0;
        z-index: 5;
        padding: 3%;
        border-radius: 0 7px;
        background: @black;
        opacity: 0.9;
        transition: all 0.5s ease;
    
        h4 {
            margin: 10% 0 0 0;
            color: @white;
            border-color: @white;
        }
    
        .bookmark-list {
            .flexBox(column nowrap, space-evenly, initial);
        
            a {
                width: 80%;
                margin: 3% auto;
                padding: 3%;
                color: @white;
            }
        }
    }
    
    aside.change {
        transform: translate(0, 100%);
    }
}