<div class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Chivalry</h2>
	</div>

	<div class="section-body">							<!-- Second of Two Talent Trees -->
		
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/mystic-arts.png" />
					<h4>Mystic Arts</h4>
					<p>Magic Armor<br>Lvl 5 +40</p>
					<div class="talent-tooltip">
						Increases the Magic Armor. Magic Armor reduces the Magic Damage the Hero receives from Magic Attacks. Magic Armor also reduces the chance that an enemy Hero will land Magic Critical Hits.
					</div>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/armor-crafting.png" />
					<h4>Armor Crafting</h4>
					<p>Physical Armor<br>Level 5 +40</p>
					<div class="talent-tooltip">
						Increases the Physical Armor. Physical Armor reduces the Physical Damage the Hero receives from Physical Attacks. Physical Armor also reduces the chance that an enemy Hero will land Physical Critical Hits.
					</div>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-spacer">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/physical-conditioning.png" />
					<h4>Physical Conditioning</h4>
					<p>Max Health<br>Lvl 5 +1500</p>
					<div class="talent-tooltip">
						Increases the Max Health of the Hero.
					</div>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/explosive-magic.png" />
					<h4>Explosive Magic</h4>
					<p>Magic Pierce Rating<br>Level 5 +17.5</p>
					<div class="talent-tooltip">
						Increases the Magic Pierce Rating. This skill increases the portion of a Magic Attack that will ignore enemy Magic Armor.
					</div>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/battle-sorcery.png" />
					<h4>Battle Sorcery</h4>
					<p>Magic Crit Rating<br>Lvl 5 +24</p>
					<div class="talent-tooltip">
						Increases the Magic Crit Rating. This skill increases the Hero’s chance to land a Critical Hit which deals Additional Bonus Damage.
					</div>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/offensive-spells.png" />
					<h4>Offensive Spells</h4>
					<p>Magic Attack<br>Lvl 5 +100</p>
					<div class="talent-tooltip">
						Increases the Magic Attack Stat of the Hero.
					</div>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/silence-resistance.png" />
					<h4>Silence Resistance</h4>
					<p>Resist Chance<br>Level 5 +6%</p>
					<div class="talent-tooltip">
						Grants a chance to resist the Silence Status Effect. Silence prevents a Hero from using any Magic Abilities.
					</div>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/energy-regeneration.png" />
					<h4>Energy Regeneration</h4>
					<p>Energy Bonus<br>Lvl 5 +11%</p>
					<div class="talent-tooltip">
						Increases the Energy Bonus the Hero receives. When a Hero takes Damage, they receive some Bonus Energy in return. Energy Regeneration boosts the amount of this Bonus Energy allowing Heroes who take this Skill to fill their Energy more quickly, resulting in earlier Ultimates.
					</div>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/elemental-mastery.png" />
					<h4>Elemental Mastery</h4>
					<p>Energy Efficiency<br>Level 5 +5%</p>
					<div class="talent-tooltip">
						Increases the Energy Efficiency of the Hero. When a Hero uses their Ultimate Ability a portion of the Energy used will be returned to the Hero. This allows for faster recharge of Energy and a chance to use their Ultimate again.
					</div>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/offensive-tactics.png" />
					<h4>Offensive Tactics</h4>
					<p>Physical Crit Rating<br>Lvl 5 +42</p>
					<div class="talent-tooltip">
						Increases the Physical Crit Rating. This skill increases the Hero’s chance to land a Critical Hit which deals Additional Bonus Damage.
					</div>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/weapons-mastery.png" />
					<h4>Weapons Mastery</h4>
					<p>Physical Attack<br>Level 5 +175.5</p>
					<div class="talent-tooltip">
						Increases the Physical Attack Stat of the Hero.
					</div>
				</div>
			</div>

		</div>

	</div>

</div>