<div id="academy-section" class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Defense</h2>
	</div>

	<div class="section-body">							<!-- First of Two Talent Trees -->
		
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/energy-regeneration.png" />
					<h4>Energy Regeneration</h4>
					<p>Energy Bonus<br>Lvl 5 +5.5%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/elemental-mastery.png" />
					<h4>Elemental Mastery</h4>
					<p>Energy Efficiency<br>Level 5 +2.5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/spell-resistance.png" />
					<h4>Spell Resistance</h4>
					<p>Spell Recovery Time<br>Lvl 5 +12%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/forcefields.png" />
					<h4>Forcefields</h4>
					<p>Hit Recovery Time<br>Level 5 +12.5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/mystic-arts.png" />
					<h4>Mystic Arts</h4>
					<p>Magic Armor<br>Lvl 5 +60</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/armor-crafting.png" />
					<h4>Armor Crafting</h4>
					<p>Physical Armor<br>Level 5 +60</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/physical-conditioning.png" />
					<h4>Physical Conditioning</h4>
					<p>Max Health<br>Lvl 5 +2000</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/marksmanship.png" />
					<h4>Marksmanship</h4>
					<p>Physical Hit Bonus<br>Level 5 +60</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/general-tactics.png" />
					<h4>General Tactics</h4>
					<p>Ability Level<br>Lvl 5 +5</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/defensive-tactics.png" />
					<h4>Defensive Tactics</h4>
					<p>Physical Toughness<br>Level 5 +21%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/damage-resistance.png" />
					<h4>Damage Resistance</h4>
					<p>Physical Resistance<br>Level 5 +8.5%</p>
				</div>
			</div>

		</div>

	</div>

</div>