<div class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Fearlessness</h2>
	</div>

	<div class="section-body">							<!-- Second of Two Talent Trees -->
		
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/healing-potions.png" />
					<h4>Healing Potions</h4>
					<p>Healing Ratio<br>Lvl 5 +4%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/evasive-maneuvers.png" />
					<h4>Evasive Maneuvers</h4>
					<p>Dodge Rating<br>Level 5 +13</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/swordsmanship.png" />
					<h4>Swordsmanship</h4>
					<p>Physical Pierce Rating<br>Lvl 5 +17.5</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/offensive-tactics.png" />
					<h4>Offensive Tactics</h4>
					<p>Physical Crit Rating<br>Level 5 +24</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/martial-arts.png" />
					<h4>Martial Arts</h4>
					<p>Physical Crit Damage<br>Lvl 5 +12%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/weapons-mastery.png" />
					<h4>Weapons Mastery</h4>
					<p>Physical Attack<br>Lvl 5 +100</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/healing-spells.png" />
					<h4>Healing Spells</h4>
					<p>Health Recovery<br>Level 5 +1000</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/silence-resistance.png" />
					<h4>Silence Resistance</h4>
					<p>Resist Chance<br>Lvl 5 +8%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/final-struggle.png" />
					<h4>Final Struggle</h4>
					<p>Kill Bonus Resistance<br>Level 5 +14.5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/stealth.png" />
					<h4>Stealth</h4>
					<p>Magic Resistance<br>Lvl 5 +8.5%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/blessing.png" />
					<h4>Blessing</h4>
					<p>Magic Toughness<br>Level 5 +21%</p>
				</div>
			</div>

		</div>

	</div>

</div>