<div class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Heroism</h2>
	</div>

	<div class="section-body">							<!-- Second of Two Talent Trees -->
		
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/mystic-arts.png" />
					<h4>Mystic Arts</h4>
					<p>Magic Armor<br>Lvl 5 +40</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/armor-crafting.png" />
					<h4>Armor Crafting</h4>
					<p>Physical Armor<br>Level 5 +40</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/physical-conditioning.png" />
					<h4>Physical Conditioning</h4>
					<p>Max Health<br>Lvl 5 +1500</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/vitality-drain.png" />
					<h4>Vitality Drain</h4>
					<p>Lifesteal<br>Level 5 +12</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/marksmanship.png" />
					<h4>Marksmanship</h4>
					<p>Physical Hit Bonus<br>Lvl 5 +40</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/silence-resistance.png" />
					<h4>Silence Resistance</h4>
					<p>Resist Chance<br>Lvl 5 +6%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/final-struggle.png" />
					<h4>Final Struggle</h4>
					<p>Kill Bonus Resistance<br>Level 5 +11%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/energy-regeneration.png" />
					<h4>Energy Regeneration</h4>
					<p>Energy Bonus<br>Lvl 5 +11%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/elemental-mastery.png" />
					<h4>Elemental Mastery</h4>
					<p>Energy Efficiency<br>Level 5 +5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/offensive-tactics.png" />
					<h4>Offensive Tactics</h4>
					<p>Physical Crit Rating<br>Lvl 5 +42</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/weapons-mastery.png" />
					<h4>Weapons Mastery</h4>
					<p>Physical Attack<br>Level 5 +175.5</p>
				</div>
			</div>

		</div>

	</div>

</div>