<div class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Poise</h2>
	</div>

	<div class="section-body">							<!-- Second of Two Talent Trees -->
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/explosive-magic.png" />
					<h4>Explosive Magic</h4>
					<p>Magic Pierce Rating<br>Lvl 5 +12</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/offensive-spells.png" />
					<h4>Offensive Spells</h4>
					<p>Magic Attack<br>Level 5 +67</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/defensive-tactics.png" />
					<h4>Defensive Tactics</h4>
					<p>Physical Toughness<br>Lvl 5 +12%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/damage-resistance.png" />
					<h4>Damage Resistance</h4>
					<p>Physical Resistance<br>Level 5 +5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/stealth.png" />
					<h4>Stealth</h4>
					<p>Magic Resistance<br>Lvl 5 +5%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/blessing.png" />
					<h4>Blessing</h4>
					<p>Magic Toughness<br>Lvl 5 +12%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/spell-mastery.png" />
					<h4>Spell Mastery</h4>
					<p>Energy Recovery<br>Level 5 +120</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-spacer talent-item">
					<img src="/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/healing-potions.png" />
					<h4>Healing Potions</h4>
					<p>Healing Ratio<br>Lvl 5 +8%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/evasive-maneuvers.png" />
					<h4>Evasive Maneuvers</h4>
					<p>Dodge Rating<br>Level 5 +26</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/spell-resistance.png" />
					<h4>Spell Resistance</h4>
					<p>Spell Recovery Time<br>Lvl 5 +21%</p>
				</div>

				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/forcefields.png" />
					<h4>Forcefields</h4>
					<p>Hit Recovery Time<br>Level 5 +22%</p>
				</div>
				
				<div class="talent-item">
					<img src="/images/icons/heroic-academy/talents/first-aid.png" />
					<h4>First Aid</h4>
					<p>Healing<br>Level 5 +21%</p>
				</div>
			</div>

		</div>

	</div>

</div>