<div id="academy" class="guide-section">								<!-- Academy Talent Tree Section -->

	<div class="section-header">
		<h2>Heroic Academy - Tactics</h2>
	</div>

	<div class="section-body">							<!-- First of Two Talent Trees -->
		<div class="talent-tree">

			<div class="tree-tier-column">
				<h4 class="tier-title">Basic</h4>
				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/silence-resistance.png" />
					<h4>Silence Resistance</h4>
					<p>Resist Chance<br>Lvl 5 +4%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/assets/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/final-struggle.png" />
					<h4>Final Struggle</h4>
					<p>Kill Bonus Resistance<br>Level 5 +7%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 1</h4>
				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/martial-arts.png" />
					<h4>Martial Arts</h4>
					<p>Physical Crit Damage<br>Lvl 5 +12%</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/assets/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/swordsmanship.png" />
					<h4>Swordsmanship</h4>
					<p>Physical Pierce Rating<br>Level 5 +17.5</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Intermediate 2</h4>
				<div class="talent-spacer talent-item">
					<img src="/assets/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/damage-resistance.png" />
					<h4>Damage Resistance</h4>
					<p>Physical Resistance<br>Lvl 5 +5%</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/stealth.png" />
					<h4>Stealth</h4>
					<p>Magic Resistance<br>Level 5 +5%</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Advanced</h4>
				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/mystic-arts.png" />
					<h4>Mystic Arts</h4>
					<p>Magic Armor<br>Lvl 5 +80</p>
				</div>

				<div class="talent-spacer talent-item">
					<img src="/assets/images/icons/equipment/unknown.png" />  <!-- Spacer Element will be hidden -->
					<h4>spacer</h4>
					<p>.<br>.</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/armor-crafting.png" />
					<h4>Armor Crafting</h4>
					<p>Physical Armor<br>Level 5 +80</p>
				</div>
			</div>

			<div class="tree-tier-column">
				<h4 class="tier-title">Expert</h4>
				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/general-tactics.png" />
					<h4>General Tactics</h4>
					<p>Ability Level<br>Lvl 5 +5</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/spell-resistance.png" />
					<h4>Spell Resistance</h4>
					<p>Spell Recovery Time<br>Level 5 +21%</p>
				</div>

				<div class="talent-item">
					<img src="/assets/images/icons/heroic-academy/talents/forcefields.png" />
					<h4>Forcefields</h4>
					<p>Hit Recovery Time<br>Level 5 +22%</p>
				</div>
			</div>

		</div>

	</div>

</div>