<img src="/images/icons/equipment/adamantite-scimitar.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 100 <span style="color: forestgreen;">+85</span><br>Magic Armor 38 <span style="color: forestgreen;">+30</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/grim-slasher.png" width="36" height="36" /><img src="/images/icons/equipment/golden-mallet.png" width="36" height="36" /><img src="/images/icons/equipment/steel-sword.png" width="36" height="36" /><br><br><p>Level 70 Required</p>
	</div>