<img src="/images/icons/equipment/ancient-royal-sword.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 85 <span style="color: forestgreen;">+65</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/ancient-royal-sword-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 53 Required</p>
	</div>