<img src="../../assets/images/icons/equipment/art-of-war.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 92 <span class="grn-txt">+60</span><br>Magic Armor 65 <span class="grn-txt">+45</span><br>Magic Crit Rating 15 <span class="grn-txt">+10</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/sage-wand.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/sage-wand.png" width="36" height="36" /><br><br><p>Level 80 Required</p>
	</div>