<img src="/images/icons/equipment/athena's-blessing.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 50 <span style="color: forestgreen;">+40</span><br>Physical Armor 88 <span style="color: forestgreen;">+75</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/ghostly-mantle.png" width="36" height="36" /><img src="/images/icons/equipment/runic-eulogy.png" width="36" height="36" /><br><br><p>Level 72 Required</p>
	</div>