<img src="../../assets/images/icons/equipment/butterfly-swords.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 110 <span style="color: forestgreen;">+65</span><br>Physical Armor 30 <span style="color: forestgreen;">+20</span><br>Dodge Rating 30 <span style="color: forestgreen;">+20</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/heavenly-amulet.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/ancient-royal-sword.png" width="36" height="36" /><br><br><p>Level 79 Required</p>
	</div>