<img src="../../assets/images/icons/equipment/cap-of-souls.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1850 <span class="grn-txt">+1575</span><br>Health Recovery 828 <span class="grn-txt">+705</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/natural-remedy.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/bulwark-of-vitality.png" width="36" height="36" /><br><br><p>Level 66 Required</p>
	</div>