<img src="/images/icons/equipment/carnage-mallet.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Crit Rating 85 <span style="color: forestgreen;">+65</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/mask-of-sacrifice.png" width="36" height="36" /><img src="/images/icons/equipment/demonic-longsword.png" width="36" height="36"/><img src="/images/icons/equipment/dwarvish-chestplate.png" width="36" height="36" /><br><br><p>Level 55 Required</p>
	</div>