<img src="/images/icons/equipment/chain-pendant.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1100 <span style="color: forestgreen;">+740</span><br>Magic Attack 60 <span style="color: forestgreen;">+40</span><br>Magic Armor 20 <span style="color: forestgreen;">+15</span><br>Magic Pierce Rating 20 <span style="color: forestgreen;">+15</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/cap-of-souls.png" width="36" height="36" /><img src="/images/icons/equipment/gem-of-vigor.png" width="36" height="36" /><br><img src="/images/icons/equipment/strand-of-rejuvenation.png" width="36" height="36" /><img src="/images/icons/equipment/spartan-helmet.png" width="36" height="36" /><br><br><p>Level 79 Required</p>
	</div>