<img src="../../assets/images/icons/equipment/clasp-of-life.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1275 <span class="grn-txt">+1000</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/clasp-of-life-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 52 Required</p>
	</div>