<img src="/images/icons/equipment/dark-wizard's-figurine.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1500 <span style="color: forestgreen;">+1030</span><br>Physical Armor 20 <span style="color: forestgreen;">+15</span><br>Magic Armor 50 <span style="color: forestgreen;">+35</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/scepter-of-the-abyss.png" width="36" height="36" /><img src="/images/icons/equipment/wellspring-water.png" width="36" height="36" /><br><br><p>Level 77 Required</p>
	</div>