<img src="../../assets/images/icons/equipment/destruction.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 110 <span class="grn-txt">+65</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/destruction-fragment.png" width="36" height="36" /> x 40<br><br><p>Level 59 Required</p>
	</div>