<img src="../../assets/images/icons/equipment/doomsday-blade.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 138 <span class="grn-txt">+115</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/ancient-royal-sword.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/golden-mallet.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/golden-mallet.png" width="36" height="36" /><br><br><p>Level 68 Required</p>
	</div>