<img src="../../assets/images/icons/equipment/explosive-scepter.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Armor 60 <span class="grn-txt">+45</span><br>Magic Crit Rating 25 <span class="grn-txt">+20</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/explosive-scepter-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 54 Required</p>
	</div>