<img src="/images/icons/equipment/frozen-teardrop.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 600 <span style="color: forestgreen;">+410</span><br>Magic Attack 130 <span style="color: forestgreen;">+90</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/athena's-blessing.png" width="36" height="36" /><img src="/images/icons/equipment/ancient-rune.png" width="36" height="36" /><br><br><p>Level 80 Required</p>
	</div>