<img src="/images/icons/equipment/goblet-of-the-ancients.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 800 <span style="color: forestgreen;">+675</span><br>Physical Attack 25 <span style="color: forestgreen;">+20</span><br>Magic Armor 60 <span style="color: forestgreen;">+50</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/goblet-of-the-ancients-fragment.png" width="36" height="36" /> x 50<br><br><p>Level 70 Required</p>
	</div>