<img src="../../assets/images/icons/equipment/grim-slasher.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 60 <span style="color: forestgreen;">+35</span><br>Lifesteal 50 <span style="color: forestgreen;">+30</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/grim-slasher-fragment.png" width="36" height="36" /> x 40<br><br><p>Level 61 Required</p>
	</div>