<img src="../../assets/images/icons/equipment/heavy-club.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 30 <span style="color: forestgreen;">+25</span><br>Physical Crit Rating 6 <span style="color: forestgreen;">+5</span><br>Physical Hit Bonus 50 <span style="color: forestgreen;">+40</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/mask-of-sacrifice.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/cloud-walkers.png" width="36" height="36"/><br><br><p>Level 57 Required</p>
	</div>