<img src="../../assets/images/icons/equipment/heavy-ballista.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 30 <span style="color: forestgreen;">+20</span><br>Physical Crit Rating 60 <span style="color: forestgreen;">+40</span><br>Physical Pierce Rating 80 <span style="color: forestgreen;">+55</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/destruction.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/ancient-royal-sword.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/rotating-hacksaw.png" width="36" height="36"/><br><br><p>Level 79 Required</p>
	</div>