<img src="/images/icons/equipment/light-battleaxe.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Crit Rating 138 <span style="color: forestgreen;">+115</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/destruction.png" width="36" height="36" /><img src="/images/icons/equipment/chipped-blade.png" width="36" height="36" /><br><br><p>Level 71 Required</p>
	</div>