<img src="/assets/images/icons/equipment/phantom-jar.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 65 <span class="grn-txt">+50</span><br>Magic Armor 21 <span class="grn-txt">+15</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/phantom-jar-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 57 Required</p>
	</div>