<img src="../../assets/images/icons/equipment/sapphire-bracelet.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 78 <span class="grn-txt">+60</span><br>Health Recovery 510 <span class="grn-txt">+395</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/sapphire-bracelet-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 54 Required</p>
	</div>