<img src="../../assets/images/icons/equipment/scepter-of-the-abyss.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 600 <span style="color: forestgreen;">+500</span><br>Magic Attack 100 <span style="color: forestgreen;">+85</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/scepter-of-the-abyss-fragment.png" width="36" height="36" /> x 50<br><br><p>Level 69 Required</p>
	</div>