<img src="../../assets/images/icons/equipment/scepter-of-time.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Attack 80 <span class="grn-txt">+70</span><br>Magic Armor 40 <span class="grn-txt">+35</span><br>Energy Efficiencey 8% <span class="grn-txt">+5%</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/sage-wand.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/dwarvish-chestplate.png" width="36" height="36" /><br><img src="../../assets/images/icons/equipment/casket-of-time.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/red-jade.png" width="36" height="36" /><br><br><p>Level 67 Required</p>
	</div>