<img src="../../assets/images/icons/equipment/scorching-spear.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Pierce Rating 85 <span class="grn-txt">+65</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/mask-of-sacrifice.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/dragon's-fang.png" width="36" height="36" /><br><img src="../../assets/images/icons/equipment/bloody-hatchet.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/aurora-torch.png" width="36" height="36" /><br><br><p>Level 55 Required</p>
	</div>