<img src="/assets/images/icons/equipment/shuriken.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p><br>Max Health 300 <span class="grn-txt">+205</span><br>Magic Attack 150 <span class="grn-txt">+105</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/shuriken-fragment.png" width="36" height="36" /> x 60<br><br><p>Level 76 Required</p>
	</div>