<img src="/assets/images/icons/equipment/soul-stealing-necklace.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 35 <span class="grn-txt">+25</span><br>Lifesteal 50 <span class="grn-txt">+40</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/demonic-longsword.png" width="36" height="36" /><img src="/assets/images/icons/equipment/skull-bonnet.png" width="36" height="36" /><br><img src="/assets/images/icons/equipment/casket-of-time.png" width="36" height="36" /><img src="/assets/images/icons/equipment/bloody-hatchet.png" width="36" height="36" /><br><br><p>Level 52 Required</p>
	</div>