<img src="/images/icons/equipment/spartan-dagger.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 170 <span style="color: forestgreen;">+115</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/spartan-dagger-fragment.png" width="36" height="36" /> x 60<br><br><p>Level 78 Required</p>
	</div>