<img src="/images/icons/equipment/stealth-cape.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 50 <span style="color: forestgreen;">+40</span><br>Magic Armor 15 <span style="color: forestgreen;">+10</span><br>Dodge Rating 20 <span style="color: forestgreen;">+15</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/stealth-cape-fragment.png" width="36" height="36" /> x 30<br><br><p>Level 56 Required</p>
	</div>