<img src="/images/icons/equipment/tri-spirit-orb.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 350 <span style="color: forestgreen;">+215</span><br>Physical Attack 43 <span style="color: forestgreen;">+25</span><br>Magic Attack 43 <span style="color: forestgreen;">+25</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/bulwark-of-vitality.png" width="36" height="36" /><img src="/images/icons/equipment/golden-mallet.png" width="36" height="36" /><img src="/images/icons/equipment/runic-eulogy.png" width="36" height="36" /><br><br><p>Level 65 Required</p>
	</div>