<img src="/images/icons/equipment/whisperwind-bow.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 70 <span style="color: forestgreen;">+50</span><br>Physical Crit Rating 100 <span style="color: forestgreen;">+70</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/whisperwind-bow-fragment.png" width="36" height="36" /> x 60<br><br><p>Level 76 Required</p>
	</div>