<img src="/images/icons/equipment/master's-cap.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 2800 <span style="color: forestgreen;">+2520</span><br>Physical Armor 90 <span style="color: forestgreen;">+84</span><br>Dodge Rating 60 <span style="color: forestgreen;">+56</span><br>Control Time Reduction 15 <span style="color: forestgreen;">+14</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/stormrider-armor.png" width="36" height="36" /><img src="/images/icons/equipment/commander's-blade.png" width="36" height="36" /><img src="/images/icons/equipment/kretonian-talisman.png" width="36" height="36"/><br><br><p>Level 100 Required</p>
	</div>