<img src="/images/icons/equipment/widowmaker.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1500 <span style="color: forestgreen;">+1351</span><br>Physical Attack 175 <span style="color: forestgreen;">+161</span><br>Lifesteal 30 <span style="color: forestgreen;">+28</span><br>Physical Hit Bonus 20 <span style="color: forestgreen;">+21</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/blade-of-illusion.png" width="36" height="36" /><img src="/images/icons/equipment/commander's-blade.png" width="36" height="36" /><img src="/images/icons/equipment/bandit's-dagger.png" width="36" height="36" /><br><br><p>Level 97 Required</p>
	</div>