<img src="/images/icons/equipment/blade-of-chaos.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 120 <span style="color: forestgreen;">+?</span><br>Physical Crit Rating 35 <span style="color: forestgreen;">+?</span><br>Physical Pierce Rating 45 <span style="color: forestgreen;">+35</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/blade-of-chaos-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 82 Required</p>
	</div>