<img src="/assets/images/icons/equipment/cosmic-shield.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1200 <span class="grn-txt">+915</span><br>Physical Armor 80 <span class="grn-txt">+60</span><br>Magic Armor 25 <span class="grn-txt">+20</span><br>Health Recovery 900 <span class="grn-txt">+?</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/healing-stone.png" width="36" height="36" /><img src="/assets/images/icons/equipment/bulwark-of-vitality.png" width="36" height="36" /><br><img src="/assets/images/icons/equipment/meteor-flail.png" width="36" height="36"/><img src="/assets/images/icons/equipment/bloody-hatchet.png" width="36" height="36" /><br><br><p>Level 83 Required</p>
	</div>