<img src="../../assets/images/icons/equipment/demon's-skull.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 1000 <span style="color: forestgreen;">+760</span><br>Physical Attack 70 <span style="color: forestgreen;">+65</span><br>Physical Armor 35 <span style="color: forestgreen;">+?</span><br>Lifesteal 30 <span style="color: forestgreen;">+25</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/grim-slasher.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/runic-crystal-ball.png" width="36" height="36" /><br><img src="../../assets/images/icons/equipment/soul-stealing-necklace.png" width="36" height="36"/><img src="../../assets/images/icons/equipment/starfall-wand.png" width="36" height="36" /><br><br><p>Level 82 Required</p>
	</div>