<img src="../../assets/images/icons/equipment/ironbark-warbow.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 80 <span style="color: forestgreen;">+60</span><br>Physical Crit Rating 120 <span style="color: forestgreen;">+?</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/ironbark-warbow-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 81 Required</p>
	</div>