<img src="../../assets/images/icons/equipment/nemean-hide.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 2000 <span style="color: forestgreen;">+1515</span><br>Physical Armor 110 <span style="color: forestgreen;">+?</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/nemean-hide-fragment.png" width="36" height="36" /> x 80<br><br><p>Level 85 Required</p>
	</div>