<img src="../../assets/images/icons/equipment/underworld-saber.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Attack 160 <span style="color: forestgreen;">+?</span><br>Physical Crit Rating 60 <span style="color: forestgreen;">+45</span><br>Lifesteal 20 <span style="color: forestgreen;">+15</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/ironbark-warbow.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/golden-mallet.png" width="36" height="36" /><br><img src="../../assets/images/icons/equipment/strand-of-rejuvenation.png" width="36" height="36" /><img src="../../assets/images/icons/equipment/broadsword.png" width="36" height="36" /><br><br><p>Level 88 Required</p>
	</div>