/************************ Reset ************************/
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/********************** General Styles ************************/
body {
  position: relative;
  padding: 5%;
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  color: #101010;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;
}
h4 {
  width: 100%;
  margin: 0 0 2% 0;
  border-bottom: 1px solid #101010;
  padding: 1%;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}
.hero-card {
  position: relative;
  width: 30%;
  margin: 1.66%;
  border-radius: 7px;
}
.hero-card img {
  border-radius: 7px;
}
.hero-card .card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #332412;
  color: #efefef;
  border-radius: 0 0 7px 7px;
  padding: 1%;
  text-align: center;
}
.hero-card .cardback-title {
  bottom: 1rem;
  background: transparent;
}
.hero-card .card-back {
  position: absolute;
  z-index: 1;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2%;
  background: #101010;
  color: #efefef;
  text-align: center;
  font-size: 1.2rem;
}
/********************** Front Page Styles ************************/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background: linear-gradient(to right, #ffa500, #ff4500);
  color: #efefef;
}
.navbar .nav-links a {
  position: relative;
  color: #efefef;
}
header {
  width: 100%;
  margin: 5% 0 0 0;
  text-align: center;
}
header img {
  width: 50%;
}
.front-page {
  margin: 0 0 10% 0;
}
.front-page section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  margin: 2% 0;
}
.front-page section .date-updated {
  width: 100%;
  margin: 2%;
  text-align: center;
  font-size: 1.2rem;
}
/********************** Heroes Page Styles ************************/
header h3 {
  margin: 0 0 2% 0;
  border-bottom: 1px solid #101010;
  padding: 1%;
  font-size: 2.4rem;
  text-align: center;
}
header h4 {
  margin: 0 0 1% 0;
}
header .filter-btns {
  margin: 2% 0 0 0;
}
header .filter-btns .filter-btn {
  width: 22%;
  border: 2px solid;
  border-radius: 7px;
  padding: 1% 2%;
  color: #efefef;
  font-size: 1.6rem;
  background: radial-gradient(#909090, #101010);
  border-color: #101010;
  margin: 1%;
}
header .filter-btns .filter-btn:focus {
  outline: none;
}
header .filter-btns .filter-btn:active {
  outline: none;
}
header .filter-btns .filter-btn:hover {
  border-color: #ffa500;
}
header .filter-btns .active-btn {
  width: 22%;
  border: 2px solid;
  border-radius: 7px;
  padding: 1% 2%;
  color: #efefef;
  font-size: 1.6rem;
  background: radial-gradient(#ffa500, #ff4500);
  border-color: #ffa500;
}
header .filter-btns .active-btn:focus {
  outline: none;
}
header .filter-btns .active-btn:active {
  outline: none;
}
header .filter-btns .filter-form {
  width: 50%;
  margin: 3% auto;
}
header .filter-btns .filter-form input {
  width: 100%;
  text-align: center;
}
.hero-page {
  margin: 0 0 10% 0;
}
.hero-page .hidden {
  display: none;
}
/********************** Credits Page Styles ************************/
.credits-page {
  background: #101010;
  color: #efefef;
}
.credits-page h4 {
  border-color: #efefef;
}
.credits-page .tiny-text {
  display: block;
  font-size: 1.2rem;
}
