/* Custom Button */
/* Nav Links Animation */
/************************ Reset ************************/
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/********************** General Styles ************************/
body {
  position: relative;
  padding: 5%;
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  color: #101010;
  font-size: 1.6rem;
}
header {
  width: 100%;
  text-align: center;
  margin: 5% 0 0 0;
}
@media (min-width: 1000px) {
  header {
    width: 60%;
    margin: 0 auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;
}
h4 {
  width: 100%;
  margin: 0 0 2% 0;
  border-bottom: 1px solid #101010;
  padding: 1%;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
}
.wrapper {
  margin: 0 0 10% 0;
}
.grn-txt {
  color: #228b22;
}
.blu-txt {
  color: #4169e1;
}
.prp-txt {
  color: #8a2be2;
}
.org-txt {
  color: #ff8c00;
}
.red-txt {
  color: #ff0000;
}
.hero-card {
  position: relative;
  width: 30%;
  margin: 1.66%;
  border-radius: 7px;
}
.hero-card img {
  border-radius: 7px;
}
.hero-card .card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #332412;
  color: #efefef;
  border-radius: 0 0 7px 7px;
  padding: 1%;
  text-align: center;
}
.hero-card .cardback-title {
  bottom: 1rem;
  background: transparent;
}
@media (min-width: 1000px) {
  .hero-card {
    width: 20%;
    border-radius: 15px;
  }
}
.hero-card .card-back {
  position: absolute;
  z-index: 1;
}
/********************** Navigation Styles ************************/
.navbar .menubar {
  width: 100%;
  height: 3.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(to right, #ffa500, #ff4500);
  color: #efefef;
}
.navbar .mobile-menu-btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: initial;
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar .mobile-menu-btn:hover {
  cursor: pointer;
}
.navbar .mobile-menu-btn .menu-bar {
  width: 100%;
  background: #efefef;
  height: 0.5rem;
  transition: all 0.5s ease;
}
.navbar #bookmarks-btn.mobile-menu-btn {
  right: 6rem;
  left: initial;
  margin: 0 2% 0 0;
}
.navbar #bookmarks-btn.mobile-menu-btn img:nth-child(1) {
  position: absolute;
  transition: all 0.5s ease;
}
.navbar #bookmarks-btn.mobile-menu-btn img:nth-child(2) {
  opacity: 0;
  transition: all 0.5s ease;
}
.navbar #settings-btn.mobile-menu-btn {
  right: 0;
  left: initial;
  margin: 0 2% 0 0;
}
.navbar #settings-btn.mobile-menu-btn img:nth-child(1) {
  position: absolute;
  transition: all 0.5s ease;
}
.navbar #settings-btn.mobile-menu-btn img:nth-child(2) {
  opacity: 0;
  transition: all 0.5s ease;
}
.navbar #bar-one.change {
  width: 85%;
  border-radius: 7px;
  transform: rotate(-45deg) translate(-5px, 9px);
}
.navbar #bar-two.change {
  opacity: 0;
}
.navbar #bar-three.change {
  width: 85%;
  border-radius: 7px;
  transform: rotate(45deg) translate(-3px, -8px);
}
.navbar .nav-links {
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 66%;
  position: fixed;
  bottom: 100%;
  left: 0;
  z-index: 5;
  padding: 10% 3% 3% 3%;
  border-radius: 7px 0;
  background: #101010;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.navbar .nav-links li {
  width: 80%;
  margin: 5% auto;
}
.navbar .nav-links a {
  color: #efefef;
}
.navbar .nav-links .nav-dropdown {
  color: #efefef;
}
.navbar .nav-links .nav-dropdown:hover p::after {
  width: 100%;
}
.navbar .nav-links .nav-dropdown:hover .down-arrow {
  opacity: 0;
}
.navbar .nav-links .nav-dropdown:hover .sub-links {
  height: 15rem;
}
.navbar .nav-links .nav-dropdown p {
  position: relative;
}
.navbar .nav-links .nav-dropdown p::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background: #efefef;
  transition: width 0.5s ease 0s;
}
.navbar .nav-links .nav-dropdown .down-arrow {
  font-weight: bold;
  transition: all 0.5s ease;
}
.navbar .nav-links .sub-links {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.navbar .nav-links.change {
  transform: translate(0, 100%);
}
.navbar #bookmarks-btn.mobile-menu-btn.change img:nth-child(1) {
  opacity: 0;
}
.navbar #bookmarks-btn.mobile-menu-btn.change img:nth-child(2) {
  opacity: 1;
}
.navbar #settings-btn.mobile-menu-btn.change img:nth-child(1) {
  opacity: 0;
}
.navbar #settings-btn.mobile-menu-btn.change img:nth-child(2) {
  opacity: 1;
}
.navbar aside {
  width: 66%;
  position: fixed;
  bottom: 100%;
  right: 0;
  z-index: 5;
  padding: 3%;
  border-radius: 0 7px;
  background: #101010;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.navbar aside h4 {
  margin: 10% 0 0 0;
  color: #efefef;
  border-color: #efefef;
}
.navbar aside .bookmark-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: initial;
}
.navbar aside .bookmark-list a {
  width: 80%;
  margin: 3% auto;
  padding: 3%;
  color: #efefef;
}
.navbar aside.change {
  transform: translate(0, 100%);
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2%;
  background: #101010;
  color: #efefef;
  text-align: center;
  font-size: 1.2rem;
}
@media (min-width: 1000px) {
  footer {
    padding: 1%;
  }
}
/********************** Front Page Styles ************************/
.logo {
  width: 100%;
}
@media (min-width: 1000px) {
  .logo {
    width: 33%;
    margin: 0 auto;
  }
}
.logo img {
  width: 50%;
}
@media (min-width: 1000px) {
  .front-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 0 3% 0;
  }
}
.front-page section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
  margin: 2% 0;
}
@media (min-width: 1000px) {
  .front-page section {
    width: 45%;
    justify-content: space-evenly;
    margin: 2%;
  }
}
@media (min-width: 1000px) {
  .front-page section h4 {
    text-align: center;
  }
}
.front-page section .date-updated {
  width: 100%;
  margin: 2%;
  text-align: center;
  font-size: 1.2rem;
}
@media (min-width: 1000px) {
  .front-page section ul {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .front-page .menu-box {
    width: 100%;
    margin: 0 2%;
  }
}
/********************** Heroes Page Styles ************************/
header h3 {
  margin: 0 0 2% 0;
  border-bottom: 1px solid #101010;
  padding: 1%;
  font-size: 2.4rem;
  text-align: center;
}
header h4 {
  margin: 0 0 1% 0;
}
header .filter-btns {
  margin: 2% 0 0 0;
}
@media (min-width: 1000px) {
  header .filter-btns {
    width: 70%;
    margin: 2% auto;
  }
}
header .filter-btns .filter-btn {
  width: 22%;
  border: 2px solid;
  border-radius: 7px;
  padding: 1% 2%;
  color: #efefef;
  font-size: 1.6rem;
  background: radial-gradient(#909090, #101010);
  border-color: #101010;
  margin: 1%;
}
header .filter-btns .filter-btn:focus {
  outline: none;
}
header .filter-btns .filter-btn:active {
  outline: none;
}
header .filter-btns .filter-btn:hover {
  cursor: pointer;
}
header .filter-btns .filter-btn:hover {
  border-color: #ffa500;
}
header .filter-btns .active-btn {
  width: 22%;
  border: 2px solid;
  border-radius: 7px;
  padding: 1% 2%;
  color: #efefef;
  font-size: 1.6rem;
  background: radial-gradient(#ffa500, #ff4500);
  border-color: #ffa500;
}
header .filter-btns .active-btn:focus {
  outline: none;
}
header .filter-btns .active-btn:active {
  outline: none;
}
header .filter-btns .active-btn:hover {
  cursor: pointer;
}
header .filter-btns .filter-form {
  width: 50%;
  margin: 3% auto;
}
header .filter-btns .filter-form input {
  width: 100%;
  text-align: center;
}
@media (min-width: 1000px) {
  header .filter-btns .filter-form input {
    width: 60%;
  }
}
.hero-page {
  margin: 0 0 10% 0;
}
@media (min-width: 1000px) {
  .hero-page .hero-card {
    width: 13%;
  }
}
.hero-page .hidden {
  display: none;
}
/********************** Credits Page Styles ************************/
.credits-page {
  background: #101010;
  color: #efefef;
}
.credits-page h4 {
  border-color: #efefef;
}
.credits-page section {
  margin: 8% 0 8%;
}
@media (min-width: 1000px) {
  .credits-page section {
    margin: 0 0 5% 0;
  }
}
.credits-page section p {
  padding: 3%;
  font-size: 1.4rem;
}
@media (min-width: 1000px) {
  .credits-page section p {
    padding: 0;
  }
}
.credits-page .tiny-text {
  display: block;
  font-size: 1.2rem;
}
.credits-page footer {
  border-top: 1px solid #444444;
}
