<img src="/assets/images/icons/equipment/bracer-of-salvation.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Healing Bonus 9% <span class="grn-txt">+6%</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/strand-of-rejuvenation.png" width="36" height="36" /><img src="/assets/images/icons/equipment/bloody-hatchet.png" width="36" height="36" /><br><br><p>Level 42 Required</p>
	</div>