<img src="../../assets/images/icons/equipment/charger-boots.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 500 <span style="color: forestgreen;">+276</span><br>Physical Attack 20 <span style="color: forestgreen;">+12</span><br>Physical Armor 10 <span style="color: forestgreen;">+6</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/charger-boots-fragment.png" width="36" height="36" /> x 20<br><br><p>Level 49 Required</p>
	</div>