<img src="../../assets/images/icons/equipment/cloud-walkers.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 13 <span style="color: forestgreen;">+6</span><br>Magic Armor 40 <span style="color: forestgreen;">+21</span><br>Dodge Rating 10 <span style="color: forestgreen;">+6</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/cloud-walkers-fragment.png" width="36" height="36" /> x 20<br><br><p>Level 48 Required</p>
	</div>