<img src="../../assets/images/icons/equipment/emerald-cuirass.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 675 <span style="color: forestgreen;">+525</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/emerald-cuirass-fragment.png" width="36" height="36" /> x 15<br><br><p>Level 37 Required</p>
	</div>