<img src="../../assets/images/icons/equipment/gem-of-vigor.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 850 <span class="grn-txt">+471</span><br>Health Recovery 378 <span class="grn-txt">+210</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/gem-of-vigor-fragment.png" width="36" height="36" /> x 20<br><br><p>Level 50 Required</p>
	</div>