<img src="../../assets/images/icons/equipment/gem-of-fortitude.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="../../assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Armor 12 <span style="color: forestgreen;">+9</span><br>Magic Armor 34 <span style="color: forestgreen;">+27</span></p>
		<h3>Recipe</h3>
		<img src="../../assets/images/icons/equipment/gem-of-fortitude-fragment.png" width="36" height="36" /> x 15<br><br><p>Level 39 Required</p>
	</div>