<img src="/assets/images/icons/equipment/mask-of-sacrifice.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/assets/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Physical Crit Rating 45 <span class="grn-txt">+36</span></p>
		<h3>Recipe</h3>
		<img src="/assets/images/icons/equipment/mask-of-sacrifice-fragment.png" width="36" height="36" /> x 15<br><br><p>Level 32 Required</p>
	</div>