<img src="/images/icons/equipment/ritual-blade.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Pierce Rating 63 <span style="color: forestgreen;">+36</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/ritual-blade-fragment.png" width="36" height="36" /> x 20<br><br><p>Level 49 Required</p>
	</div>