<img src="/images/icons/equipment/scepter-of-prophecy.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Magic Armor 30 <span style="color: forestgreen;">+24</span><br>Magic Crit Rating 15 <span style="color: forestgreen;">+12</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/scepter-of-prophecy-fragment.png" width="36" height="36" /> x 15<br><br><p>Level 31 Required</p>
	</div>