<img src="/images/icons/equipment/soothsayer-handwraps.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 200 <span style="color: forestgreen;">+81</span><br>Magic Attack 47 <span style="color: forestgreen;">+18</span><br>Energy Recovery 100 <span style="color: forestgreen;">+42</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/gem-of-fortitude.png" width="36" height="36" /><img src="/images/icons/equipment/wizardry-codex.png" width="36" height="36" /><br><img src="/images/icons/equipment/mending-pearl.png" width="36" height="36" /><img src="/images/icons/equipment/twilight-orb.png" width="36" height="36" /><br><br><p>Level 51 Required</p>
	</div>