<img src="/images/icons/equipment/viking-helmet.png" />
	<div class="tooltip">
		<h3>Stats</h3>
		<img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" /><img src="/images/icons/hero-info/enchantment-star.png" width="12" height="12" />
		<p>Max Health 450 <span style="color: forestgreen;">+351</span><br>Physical Armor 15 <span style="color: forestgreen;">+12</span></p>
		<h3>Recipe</h3>
		<img src="/images/icons/equipment/warrior's-gloves.png" width="36" height="36" /><img src="/images/icons/equipment/crimson-staff.png" width="36" height="36" /><br><img src="/images/icons/equipment/mending-pearl.png" width="36" height="36" /><img src="/images/icons/equipment/savage-dagger.png" width="36" height="36" /><br><br><p>Level 34 Required</p>
	</div>